@inject ImperitClient http;
@inject SessionStorage storage;

@code{
	[Parameter] public Func<Task>? LogoutAsync { get; set; }
	[Parameter] public Action<View, int?, int?, PlayerInfo?> Switch { get; set; } = ((a, x, y, z) => { });
	ImmutableArray<PlayerInfo> Players;
	ImmutableArray<ImmutableArray<Power>> Powers;
	int Active = 0;

	void Clicked(int player)
	{
		if (player != storage.PlayerOrder && Players[storage.PlayerOrder!.Value].M > 0)
		{
			Switch(View.Donation, null, null, Players.Try(storage.PlayerOrder!.Value));
		}
	}
	async Task DoGiveUp()
	{
		await http.PostAsync<Session>("api/Command/GiveUp", storage.Session);
		await LogoutAsync!();
	}
	protected override async Task OnInitializedAsync()
	{
		Active = await http.PostAsync<int, int>("api/Player/Active", storage.GameId!.Value);
		Players = await http.PostAsync<int, ImmutableArray<PlayerInfo>>("api/Player/Infos", storage.GameId!.Value);
		StateHasChanged();
		Powers = await http.PostAsync<int, ImmutableArray<ImmutableArray<Power>>>("api/Powers/List", storage.GameId!.Value);
	}
}
<nav>
	<a @onclick="() => Switch(View.Map, null, null, null)">Zpět</a>
	<a class="this">@Players.Try(storage.PlayerOrder!.Value)?.M@Sym.Money</a>
</nav>
<main>
	@if (!Players.IsDefaultOrEmpty && !Powers.IsDefaultOrEmpty)
	{
		<p>Na tahu je: <span style="color:@Players[Active].C;">@Players[Active].N</span></p>
		<table class="players">
			@foreach (var (i, player) in Players.Index())
			{
				<tr @onclick="() => Clicked(i)">
					<td style="color:@player.C;">@player.N@Sym.Stars(Powers[^1][i].Final)</td>
					@if (player.A)
					{
						<td>@player.M@Sym.Money</td>
						<td>(+@player.I@Sym.Money)</td>
						<td>
							@if (player.Debt > 0)
							{
								<text>-@player.Debt@Sym.Money</text>
							}
						</td>
					}
					else
					{
						<td colspan="3">není</td>
					}
				</tr>
			}
		</table><br/>
		<button @onclick="DoGiveUp">Vzdát se</button>
		<Graphs Players="Players.Select(p => p.C).ToImmutableArray()" Powers="Powers"/>
	}
</main>